.my-footer {
  background-color: #163b65;
  margin-top: 1.5rem;
  height: 5rem;
  padding: 1rem;
  color: #fff;
  font-size: 80%;
}

.room-image {
  max-width: 50%;
}

.notie-container {
  box-shadow: none;
}
